body {
    background-color: var(--bg-app);
    color: var(--text-main);
    font-family: var(--font-main);
    margin: 0;
}
.main-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: var(--bg-card);
    border-bottom: 1px solid #333;
}
.header-content h1 { font-size: 1.2rem; font-weight: bold; }